$primary-color : rgb(252, 226, 219);
$secondary-color : rgb(255, 143, 177);
$third-color : rgb(178, 112, 162);
$fourth-color : rgb(122, 68, 149);


 * {
    margin: 0;
 }

 html{
   scroll-behavior: smooth;
 }
